body.login{
    background-color:lightpink;
}
.titleReg{
    color:#6785d8;
}

.principal{
    background-color: #b7ecf0;
}

.tituloPrincipal {
  
    color:#6785d8;

}

.registro{

    background-color:rgb(153, 167,184);
}



